@{
    ViewData["Title"] = "Crear Producto";
}
@model Producto

<div class="d-flex flex-column p-3 mb-5">
    <div class="container mt-2 p-4 border rounded shadow-sm">
        <div class="d-flex flex-row gap-2 hstack">
            <h3>Crear Producto</h3>
        </div>
        <form asp-action="Create" method="post">
            <input type="hidden" asp-for="IdProducto" value="0">
            <div class="card card-body mb-3 bg-light">
                <div class="mb-3">
                    <label asp-for="Descripcion" class="form-label fw-normal">Descripcion</label>
                    <input class="form-control" asp-for="Descripcion" required placeholder="Mouse Logitech">
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Precio" class="form-label fw-normal">Precio unitario</label>
                    <input type="number" min="0.01" step="any" class="form-control" asp-for="Precio" required
                        placeholder="1000">
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-lg"></i> Crear
                </button>
                <a asp-controller="Productos" asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-x-lg"></i> Cancelar
                </a>
            </div>
        </form>
    </div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}