@model List<Producto>

<div class="flex-row gap-4 flex-wrap d-flex">
    <div>
        <a asp-controller="Producto" asp-action="Create" class="btn btn-primary">Agregar</a>
    </div>
    @foreach (Producto prod in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@prod.Descripcion</h5>
                <p class="card-text">@prod.Precio</p>
                <a asp-controller="Producto" asp-action="Edit" asp-route-id="@prod.IdProducto"
                    class="btn btn-primary">Editar</a>
            </div>
        </div>
    }
</div>